<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Reading the active network's transport. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Reading the connected Wi-Fi network. -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

</manifest>
